%footer.footer
  .container
    .row.text-right
      .col-xs-12
        = t(:find_us_on, scope: :footer)
        = link_to "https://www.facebook.com/swinginlodz/" do
          %i.fa.fa-facebook-official.fa-2x<>
          Facebook
        = link_to "https://www.youtube.com/channel/UC-EjMrhJCy_-1UZaRO3hFXw" do
          %i.fa.fa-youtube.fa-2x<>
          Youtube

=javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'
:javascript
  //jQuery CDN fallback
  window.jQuery || document.write('<script src="assets/javascripts/vendor/jquery.min.js"><\/script>')
=javascript_include_tag 'main.js',
                        'application.js'
