.container
  .header
    .logo.hidden-sm.hidden-xs.pull-left
      = image_tag("logo.png")
    .center
      .name
        Swing Załoga
        .city
          Łódź

  %nav.navbar.navbar-default
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav
        %li{ nav_active(%r{^index.html}) }= link_to "Home", "/"
        %li{ nav_active(%r{^classes/.*}) }= link_to "Zajęcia", "/classes/"
        %li{ nav_active(%r{^about/.*}) }= link_to "O Łódzkim swingu", "/about/"
        %li{ nav_active(%r{^parties/.*}) }= link_to "Potańcówki", "/parties/"
        %li{ nav_active(%r{^contact/.*}) }= link_to "Kontakt", "/contact/"
        