.container
  .header.row
    .logo.hidden-sm.hidden-xs.col-md-2
      = image_tag("logo.png")
    .center.col-md-8.col-xs-12
      .name
        Swing Załoga
        .city
          Łódź
    .languages.hidden-sm.hidden-xs.col-md-2
      .choice
        = change_locale_link(:pl)
        \|
        = change_locale_link(:en)

.container
  %nav.navbar.navbar-inverse.row
    .navbar-header
      %button.navbar-toggle{type: "button", data: { toggle: "collapse", target: "#main_navbar" } }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Swing Załoga", "index.html", class: "navbar-brand", locale: I18n.locale
    .collapse.navbar-collapse#main_navbar
      %ul.nav.navbar-nav
        %li{ nav_active(%r{^index.html}) }= localized_link_to t(:home), "index.html"
        %li{ nav_active(%r{^classes/.*}) }= localized_link_to t(:classes), "classes/index.html"
        %li{ nav_active(%r{^about/.*}) }= localized_link_to t(:about), "about/index.html"
        %li{ nav_active(%r{^parties/.*}) }= localized_link_to t(:parties), "parties/index.html"
        %li{ nav_active(%r{^contact/.*}) }= localized_link_to t(:contact), "contact/index.html"
