%h1.h1
  = t(:classes, scope: "header")
%p
  = t(:p1, scope: "pages.classes")
.row
  .col-lg-3.col-md-4.col-sm-6
    %h3
      Początkujący
      %small Zuza i Wojtek
    %p
      19:00-21:30
  .col-lg-3.col-md-4.col-sm-6
    %h3
      Początkujący
      %small Lena i Piotrek
    %p
      19:00-21:30
  .col-lg-3.col-md-4.col-sm-6
    %h3
      Stare wygi
      %small Zuza i Bartek
    %p
      19:00-21:30
  .col-lg-3.col-md-4.col-sm-6
    %h3
      Solo jazz
      %small Zuza
    %p
      19:00-21:30
